
<div class="row">
	<div class="col-md-10 col-md-offset-1 body_index">
		<% @states.each do |state| %>
		<div class="col-md-12 duongkengangduoi">
			<div class="col-md-2">
				<div class="thumbnail">
					<img src="http://imageshack.com/a/img923/5504/t6cyGr.jpg" alt="avatar">
				</div>
			</div>
			<div class="col-md-10">
				<h2><%= link_to truncate(state.content, legnth:50), state %></h2>
				<p>Published at <%= time_ago_in_words(state.created_at) %> ago by <%= state.user.email %>.</p>
				<%= link_to "Edit", edit_state_path(state, remote: true) %> | 
				<%= link_to "Delete", state_path(state), remote: true, method: :delete, data: { confirm: "Bạn chắc chắc muốn xóa?"} %> | 
				<%= link_to "Show", state %>
			</div>
		</div>
		<% end %>
	</div>
</div>