<div class="row khunghinh">
	<div class="col-md-12">
		<div class="col-md-2">
			<div class="thumbnail">
				<img src="http://imageshack.com/a/img923/5504/t6cyGr.jpg" alt="avatar">
			</div>
		</div>
		<div class="col-md-10">
			<h2><strong>User: </strong><%= @state.user.email %></h2>
			<p>Published at <%= time_ago_in_words(@state.created_at) %> ago.</p>
		</div>
	</div>
	<div class="canletrai"><strong>State: </strong>
		<div class="fontsizestate"><%= @state.content %></div>
	</div>
	<div class="comment">
		<h3>Comment</h3>
		<h4>Số lượng comment: <%= @state.comments.count %></h4>
		<div id="state_comment">
		<%= render @state.comments %>
		</div>
		<div id="form_comment">
		<%= render 'comments/form' %>
		</div>
	</div>
	<div class="taobutton">
<%= link_to 'Back', root_path %>
</div>
</div>




